# MySql DB 접속 정보
spring.datasource.url=JDBC_URL
spring.datasource.username=DB_USERNAME
spring.datasource.password=DB_PASSWORD

# AWS KEY
cloud.aws.region.static=ap-northeast-2
cloud.aws.s3.bucket=S3_BUCKET_NAME
cloud.aws.credentials.access-key=AWS_ACCESS_KEY
cloud.aws.credentials.secret-key=AWS_SECRET_KEY